<div class="columns">
  <div class="column">
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>

  </div>
  <div class="column">
    <div class="chart-container">
      <canvas id="myChart2"></canvas>
    </div>

  </div>
</div>