<div class="columns">
  <div class="column">
    <div>
      <canvas id="myChart"></canvas>
    </div>

  </div>
  <div class="column">
    <div>
      <canvas id="myChart2"></canvas>
    </div>

  </div>
</div>