<div class="columns">
  <div class="column">
    <div class="chart-container">
      <canvas id="expensesByWeek"></canvas>
    </div>

  </div>
  <div class="column">
    <div class="chart-container">
      <canvas id="ingresosVsGastos"></canvas>
    </div>

  </div>
</div>