<nav class="navbar navbar-logo" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/img/logo.png" alt="Logo Spend Smart" width="200">
    </a>
  </div>
</nav>

<section class="hero hero-price">
  <div class="hero-body">
    <p class="hero-price--title title m-0">
      Dinero disponible
    </p>
    <p class="hero-price--price">
      {{moneyAvailable}}
    </p>
  </div>
</section>