<div class="container is-max-desktop">
    <section class="section">
        <div class="panel">
            <h3 class="title">Estadisticas</h3>

            {{> charts }}
        </div>
    </section>

    <section class="section">
        <div class="panel">
            <h3 class="title">Agrega un gasto</h3>
            <div class="columns is-multiline categories-expenses">
                {{#each expensesCategories as | category | }}
                <div class="column is-one-third">
                    <div class="category-icon-container">
                        <div class="category-icon" data-category="{{category.icon}}">
                            <i class="fa-solid fa-{{category.icon}}"></i>
                        </div>

                        <p class="category-title">{{category.title}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="panel list-transactions">
            <div class="is-flex">
                <div class="title-container">
                    <h3 class="title">Transacciones</h3>
                </div>
                <div class="filters">
                    <div class="tags has-addons">
                        <span class="tag is-primary">Todo</span>
                        <span class="tag" data-filter="income">Ingresos</span>
                        <span class="tag" data-filter="expense">Gastos</span>
                    </div>
                </div>
            </div>

            <div id="transactionsContainer">
                {{> transactions-list }}
            </div>
        </div>
    </section>
</div>

{{!-- Modal of confirmation --}}
<div class="modal" id="modal-delete-confirmation">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Selecciona un icono</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            Estás seguro de eliminar esta transacción?
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger" id="deleteTransactionModal">Eliminar</button>
            <button class="button is-light" id="cancelDeleteTransaction">Cancelar</button>
        </footer>
    </div>
</div>